<form
  class="container-admin"
  [formGroup]="formularyRegister"
  (submit)="onSubmit($event)"
>
  <div class="div-form">

    <div class="input-item-div">
      <h2>Recuperar Contraseña</h2>
    </div>

    <div
      class="input-item-div"
      [ngClass]="{
        'is-invalid':
          hasError('passwordNew', 'required') ||
          hasError('passwordNew', 'minlength') ||
          hasError('passwordNew', 'maxlength') ||
          hasError('passwordNew', 'pattern') ||
          formularyRegister.value.passwordNew !== formularyRegister.value.passwordConfirm
      }"
    >
      <input type="password" placeholder="NUEVA CONTRASEÑA" formControlName="passwordNew" />
      <div class="img-item-input">
        <img src="assets/imgs/password-logo.png" alt="nueva contraseña" />
      </div>
    </div>

    <div
      class="input-item-div"
      [ngClass]="{
        'is-invalid':
          hasError('passwordConfirm', 'required') ||
          hasError('passwordConfirm', 'pattern') ||
          hasError('passwordConfirm', 'minlength') ||
          hasError('passwordConfirm', 'maxlength') ||
          formularyRegister.value.passwordNew !== formularyRegister.value.passwordConfirm
      }"
    >
      <input
        type="password"
        placeholder="CONFIRMAR CONTRASEÑA"
        formControlName="passwordConfirm"
      />
      <div class="img-item-input">
        <img src="assets/imgs/password-logo.png" alt="confirmar contraseña" />
      </div>
    </div>

    <div
      class="input-item-div"
      [ngClass]="{
        'is-invalid':
          hasError('email', 'required') ||
          hasError('email', 'minlength') ||
          hasError('email', 'maxlength') ||
          hasError('email', 'email')
      }"
    >
      <input type="email" placeholder="CORREO" formControlName="email" />
      <div class="img-item-input">
        <img style="width: 1.7rem;" src="assets/imgs/email-logo.png" alt="correo" />
      </div>
    </div>

    <div class="input-item-div">
      <input class="submit" type="submit" value="Aceptar" />
    </div>
  </div>

  <div class="container-buttom" (click)="goBack()">
    <img src="assets/imgs/close-arrow.png" alt="volver">
  </div>
</form>
