.main {
    width: 100vw;
    height: calc(100vh - var(--header-height)); 
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
}

.main video {
    width: 80%;
    height: 90%;
    box-shadow: 0px 0px 10px 0px var(--blue-alpha-color);
}