.main {
    width: 100%;
    height: 100%;
}

.main video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
    -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,0.9), transparent);
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), transparent);
}