/* Custom propierties */
:root {
  --white-color: #fff;
  --black-color: #000;
  --link-color: #666;
  --title-color: #333;
  --text-color: #ffffff;
  --white-alpha-color: rgba(255, 255, 255, 0.715);
  --black-alpha-color: rgba(0, 0, 0, 0.5);
  --blue-color: #03d6fb;
  --blue-alpha-color: rgba(1, 218, 247, 0.75);
  --font: "Raleway", sans-serif;
  --max-width: 1200px;
  --header-height: 5rem;
  --yellow-color: #f7df1e;
  --admin-color: rgb(21, 32, 48);
  --admin-color-black: rgb(7, 20, 37);
}

/* Reset */
html {
  box-sizing: border-box;
  font-family: var(--font);
  font-size: 16px;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  color: var(--text-color);
  width: 100vw;
  background-color: var(--black-color);
  position: relative;
}

a {
  color: var(--text-color);
  transition: all 0.5s ease-out;
  text-decoration: none;
  font-weight: bold;
  border-bottom: 2px solid transparent;
}

a:hover {
  color: var(--link-color);
  opacity: 0.75;
  border-bottom: 2px solid var(--link-color);
}

h1 {
  margin: 0;
  font-size: 2rem;
}

h2 {
  margin: 0;
  font-size: 1.5rem;
}

h3 {
  margin: 0;
  font-size: 1.25rem;
}

h4 {
  margin: 0;
  font-size: 1rem;
}

h5 {
  margin: 0;
  font-size: 0.85rem;
}

h6 {
  margin: 0;
  font-size: 0.7rem;
}

img,
video {
  max-width: 100%;
  height: auto;
}

p {
  line-height: 1.6rem;
}

/* Utilities */

/* Sitie Styles */

/* Animations */

/* Media Queries */

/* @media screen and (min-width: 768px) {
}

@media screen and (min-width: 1024px) {
} */
